.landing {
  margin-top: $navbar-height-large;

  .banner {
    position: relative;

    .image {
      position: relative;
      width: 100%;
      padding-right: $side-gutter;

      &__original {
        display: block;
        width: 100%;
      }

      &__mobile {
        display: none;
        width: 100%;
      }

      &__mask {
        display: block;
        position: absolute;
        padding-right: $side-gutter;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
      }

      &__button {
        display: none;
      }
    }

    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: $side-gutter;
      z-index: 2;

      &__title {
        font-size: 112px;
        font-weight: 700;
        color: $dark-grey;
        letter-spacing: -0.03em;
      }

      &__description {
        margin-top: 35px;
        font-size: 22px;
        line-height: 1.5em;
        color: #27272b;

        @include media(mobile) {
          max-width: 304px;
          margin-top: 10px;
          font-size: 18px;
          line-height: 1.61em;
        }

        .break {
          display: block;

          @include media(mobile) {
            display: inline;
          }
        }
      }

      &__button {
        position: absolute;
        right: 0;
        bottom: 120px;
        padding: 33px 59px;
        padding-right: $side-gutter;
        background-color: $dark-grey;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        color: $white;
        text-decoration: none;
        transition: background-color 0.2s;

        &:hover {
          background-color: #363639;
        }

        &:focus {
          background-color: $dark-grey;
          outline: solid 3px $blue-grey;
          outline-offset: -3px;
        }
      }
    }
  }
}

.information {
  display: flex;
  padding-top: 78px;
  padding-bottom: 43px;
  justify-content: flex-start;
  align-items: center;

  &__text {
    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    color: $blue-grey;

    .break {
      display: block;

      @include media(mobile) {
        display: none;
      }
    }

    @include media(mobile) {
      text-align: left;
      margin-top: 32px;
    }
  }

  &__border {
    height: 2px;
    background: $blue-grey;
  }

  .links__item {
    margin-left: 40px;
    text-decoration: none;
    color: $dark-grey;
    font-weight: 400;
    border-bottom: 2px solid $white;
    padding: 4px 0;
    transition: border 0.2s;

    &:hover {
      border-bottom: 2px solid $dark-grey;
    }
  }
}

@include media(x-large) {
  .landing {
    .banner {
      position: relative;

      .image {
        position: relative;
        width: 100%;
        padding-right: $side-gutter-x-large;

        &__mask {
          padding-right: $side-gutter-x-large;
        }
      }

      .description {
        padding-left: $side-gutter-x-large;

        &__button {
          padding-right: 59px;
          margin-right: $side-gutter-x-large;
        }
      }
    }
  }
}

@include media(mobile) {
  .landing {
    margin-top: $navbar-height-mobile;

    .banner {
      .image {
        margin-top: 36px;
        padding-right: $side-gutter-mobile;

        &__original {
          display: none;
        }

        &__mobile {
          display: block;
        }

        &__mask {
          display: none;
        }

        &__button {
          display: block;
          position: absolute;
          right: 0;
          bottom: 15%;
          font-size: 14px;
          padding: 22px 42px;
          background-color: $dark-grey;
          font-weight: 700;
          letter-spacing: 2px;
          color: $white;
          text-decoration: none;
          opacity: 1;
          transition: background-color 0.2s;

          &:hover {
            background-color: #363639;
          }

          &:focus {
            background-color: $dark-grey;
            outline: solid 3px $blue-grey;
            outline-offset: -3px;
          }
        }
      }

      .description {
        position: relative;
        padding-top: 62px;
        padding-left: $side-gutter-mobile;
        z-index: 1;

        &__title {
          font-size: 64px;
        }

        &__button {
          display: none;
        }

        .break {
          &--1 {
            display: block;
          }

          &--2 {
            display: none;
          }

          &--3 {
            display: block;
          }
        }
      }
    }
  }

  .information {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;

    &__text {
      font-size: 14px;
    }

    &__links {
      font-size: 13px;
      margin-top: 32px;
    }

    .links__item {
      &:first-child {
        margin-left: 0;
      }
    }

    &__border {
      height: 1px;
    }
  }
}

@include media(tablet) {
  .landing {
    .banner {
      .image {
        padding-right: $side-gutter-tablet;

        &__mask {
          padding-right: $side-gutter-tablet;
        }
      }

      .description {
        margin-bottom: -10px;
        padding-left: $side-gutter-tablet;

        &__title {
          font-size: 70px;
        }

        &__button {
          bottom: 100px;
          padding: 33px $side-gutter-tablet 33px 62px;
          font-size: 15px;
        }
      }
    }
  }

  .information {
    padding-top: 64px;
    padding-bottom: 20px;

    &__text {
      font-size: 18px;
    }

    &__links {
      font-size: 15px;
    }

    .links__item {
      &:first-child {
        margin-left: 0;
      }
    }

    &__border {
      height: 2px;
    }
  }
}
