.bonumic-map {
  height: 70vh;
  width: 100vw;
  margin-left: -$side-gutter;
  margin-top: 40px;

  @include media(mobile) {
    height: 80vh;
    margin-left: -$side-gutter-mobile;
  }

  @include media(tablet) {
    margin-left: -$side-gutter-tablet;
  }

  @include media(x-large) {
    margin-left: $side-gutter-x-large-mapbox;
  }
}
