.thankyou {
  .not-found {
    margin-top: calc(235px + #{$navbar-height-large});

    @include media(mobile) {
      margin-top: 0px;
    }
  }
}

.action-thankyou + .blog {
  @include media(mobile) {
    margin-top: 204px;
  }
}

.action-mobile__button--lower {
  @include media(mobile) {
    top: 50px;
  }
}
